@import "../../bower_components/tink-core/dist/tink/variables";
@import "../../bower_components/tink-core/dist/tink/functions";
@import "../../bower_components/tink-core/dist/tink/mixins";

@import "extend-fixes";


.autocomplete {
  position: relative;
}

.list-autocomplete {
  @extend .list-unstyled;
  @extend .card;
  border-color: $input-border;
  display: none;
  left: 0;
  margin-top: rem(1);
  max-height: rem(200);
  overflow: auto;
  position: absolute;
  right: 0;
  top: rem(35);

  &:empty {
    border-color: transparent;
    box-shadow: none;
  }

  > li {
    @extend .card-body;
    // border-color: $input-border;
    padding: rem(4 12);
    transition: background $animation-speed linear;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: rgba($black, .05);
      cursor: pointer;
    }

    &:active,
    &.selected {
      background-color: $link-color;
      color: $white;
    }

    mark {
      padding: 0;
    }
  }
}
